<!DOCTYPE html>
<html lang="zxx" class="no-js">
    <head>
        <!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Favicon-->
        <link rel="shortcut icon" href="img/fav.png">
        <!-- Author Meta -->
        <meta name="author" content="Chrisadriane">
        <!-- Meta Description -->
        <meta name="description" content="">
        <!-- Meta Keyword -->
        <meta name="keywords" content="">
        <!-- meta character set -->
        <meta charset="UTF-8">
        <!-- Site Title -->
        <title>coinacropolis</title>
        <link rel="stylesheet" href="css_l/main.css">
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,500,600" rel="stylesheet">

        <link rel="stylesheet" href="css_l/linearicons.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css_l/bootstrap.css">
        <style>

            @media screen and (max-width: 600px) {
                #largeDev{
                    display: none;
                }
                #largeLogo{
                    display: none;
                }

                .topBar{
                    margin-bottom: 25px;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
                    width: 100%;
                }
            }
            @media screen and (min-width: 600px) {
                #smallDev{
                    display: none;
                }
               
                #smallLogo{
                    display:none;
                }


            }

        </style>
        <!-- Global site tag (gtag.js) - Google Analytics -->


        <script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async></script>

    </head>
    <body>

        <div class="" style="width: 100%; height: 100%;
             background-color: #030303;
             background-size: contain;
             "  >

            <div class="hero-area  ">

                <div class="row" id="largeDev" >
                    <header>
                        <div class="" >
                            <div class="pull-right " style="padding-right: 70px; ">
                                <div class="main-menubar ">
                                    <nav class="nav" >
                                        <a href="/" style="color: #49e3ce;">Home</a>
                                        <a href="/register">Register</a>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </header>
                </div>
                <div class="row" id="smallDev">
                    <div class="topBar" >
                        <div class=" " style="padding-left: 20px; ">
                            <div class="main-menubar ">
                                <nav class="nav" >
                                    <a href="/" style="color: #49e3ce;">Home</a>
                                    <a href="/register">Register</a>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="banner-area " style="margin-top: 55px;">
                    <div class="container">
                        <div class="row" > 

                            <div class="col-lg-6 col-md-12 col-sm-12 " >
                                <div class="logo  " id="largeLogo">
                                    <img src="img/banner_logo.png"  style="width: 100px;padding-top: 3px;padding-bottom: 3px; " />
                                    <span style="color:gold; font-size: 50px;">coin</span><span style="color: whitesmoke; font-size: 50px;">acropolis.com</span>
                                </div>
                                  <div class="logo  " id="smallLogo">
                                    <img src="img/banner_logo.png"  style="width: 100px;padding-top: 3px;padding-bottom: 3px; " />
                                    <span style="color:gold; font-size: 40px;">coin</span><span style="color: whitesmoke; font-size: 40px;">acropolis.com</span>
                                </div>
                                <br><br>
                                <div class="banner-content " style="margin-top:50px; ">
                                    <h1 class="text-white text-uppercase mb-10"> Digital Currency Exchange </h1> 

                                    <h3 class="text-white  mb-8">Direct access to alternative coins</h3><br>
                                    <br>
                                    <div style="margin-top:30px; padding-bottom: 70px;">
                                        <a href="/login" class="primary-btn d-inline-flex align-items-center" ><span class="mr-10">Get Started</span><span class="lnr lnr-arrow-right"></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12" id="smallScreen"> 
                                <img src="img/backs.JPG" style="
                                     background-repeat: no-repeat;
                                     max-width: 100%;
                                     width: 100%;
                                     "/>
                            </div>

                            <div class="col-lg-6  col-md-12 col-sm-12" style=" padding-bottom: 150px;" id="largeScreen" > 
                                <img src="img/backs.JPG" style="
                                     background-repeat: no-repeat;
                                     max-width: 100%;
                                     width: 100%;
                                     "/>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-wrapper">
            <!-- Start Feature Area -->
            <section class="featured-area">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="section-title text-center">
                                <h2 class="text-black">--One of a Kind--</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="single-feature">
                                <div class="thumb" style="background: url(img/bexch.jpg);"></div>
                                <div class="desc text-center mt-30">
                                    <h4 class="text-black">Direct Deposit Funding</h4>
                                    <p class="text-black">Easily fund your coinacropolis account after linking your bank account</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="single-feature">
                                <div class="thumb" style="background: url(img/fees.jpg);"></div>
                                <div class="desc text-center mt-30">
                                    <h4 class="text-black">Buy/Sell Altcoins</h4>
                                    <p class="text-black">Buy and sell Ripple (XRP), Stellar (XLM), EOS (EOS), SiaCoin (SC), and major crypto currencies (BTC, ETH, LTC, BCH) directly using your Canadian or American dollars. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="single-feature">
                                <div class="thumb" style="background: url(img/direct.jpg);"></div>
                                <div class="desc text-center mt-30">
                                    <h4 class="text-black">Super Low Fees</h4>
                                    <p class="text-black">Trade without paying direct commissions and fund your account without paying any fees.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
        <div class="main-wrapper">
            <div class="working-process-area">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="section-title text-center">
                                <h2>Simple & Secure Account Opening Process</h2>
                            </div>
                        </div>
                    </div>
                    <div class="total-work-process d-flex flex-wrap justify-content-around align-items-center">
                        <div class="row justify-content-center">
                            <div class="col-md-7">
                                <div class="single-work-process">
                                    <h4 class="caption">1. Sign up and Register Email</h4>
                                    <p style="font-size: 16px; color: #212128;">Enter your email and password and then confirm ownership of your email address using the verification code we send you.</p>
                                    <div class="work-icon-box">
                                        <span class="lnr lnr-envelope"></span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-7">
                                <div class="single-work-process">
                                    <h4 class="caption">2. Set-Up 2FA</h4>
                                    <p style="font-size: 16px; color: #212128;">Secure your account by setting up two factor authentication through SMS and google authenticator</p>
                                    <div class="work-icon-box">
                                        <span class="lnr lnr-tablet"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-7">
                                <div class="single-work-process">
                                    <h4 class="caption">3. Add Bank Account</h4>
                                    <p style="font-size: 16px; color: #212128;">Link your bank account securely and instantly using your bank account login credentials</p>
                                    <div class="work-icon-box">
                                        <span class="lnr lnr-briefcase"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-7">
                                <div class="single-work-process">
                                    <h4 class="caption">4. Verify Identity</h4>
                                    <p style="font-size: 16px; color: #212128;">Before any order can take place, we need to verify your identity by confirming that your personal details match the uploads of your photo ID and proof of address documents</p>
                                    <div class="work-icon-box">
                                        <span class="lnr lnr-user"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-7">
                                <div class="single-work-process">
                                    <h4 class="caption">5. Upload Documents</h4>
                                    <p style="font-size: 16px; color: #212128;">Upload the front side of your Driver's License or photo (bio) page of your Passport</p>
                                    <div class="work-icon-box">
                                        <span class="lnr lnr-upload"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- End Contact Form -->
        <!-- Start Footer Widget Area -->
        <section class="footer-widget-area " style="  background-color:#212128;">
            <div class="container">
                <div class="row">

                    <div class="col-md-4">
                        <div class="single-widget">
                            <div class="desc">
                                <h6 class="title">Address</h6>
                                <p>USA / Canada </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="single-widget">
                            <div class="desc">
                                <h6 class="title">Email Address</h6>
                                <div class="contact">
                                    <a href="mailto:noreply@coincacropolis.com">noreply@coincacropolis.com</a> <br>
                                    <a href="mailto:support@coincacropolis.com">support@coincacropolis.com</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <footer>
                <div class="container">
                    <div class="footer-content d-flex justify-content-between align-items-center flex-wrap container">
                        <div class="logo">
                            <h4 class="text-white ">coinacropolis</h4>
                        </div>
                        <div class="copy-right-text">Copyright &copy; 2018  |  All rights reserved </div>
                        <div class="footer-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-behance"></i></a>
                        </div>
                    </div>
                </div>
            </footer>
        </section>
        <!-- End Footer Widget Area -->

        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-42669807-3"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'UA-42669807-3');
        </script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-42669807-4"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'UA-42669807-4');
        </script>


    </body>
</html>
